.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* #site-content{
  margin-bottom: 23em;
} */

nav{
background : radial-gradient(circle farthest-side at right bottom, #E7B02F 5%,#e98c26 25%,#eb681e 80%,#ed561a 100%)
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
}

.price-list-container li{
  font-size:0.9em;
}

.parallax{
  min-height: 300px;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  position: relative;
}

.parallax::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: rgba(0,0,0,0.35);
}

body{
  overflow-x: hidden;
}

.carousel .slide{
  background: transparent;
}

.carousel .control-dots{
  position: relative
}

.team-member img{
  border-radius: 100%;
  width: 200px;
  height: 200px;  
}


#site-header .navbar-default .navbar-nav > li > a{
  background-color: transparent;
  color: #F7F7F7;
  line-height: 20px;
  padding: 15px 12px;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
}

.home-features img{
  width: 35%;
  margin: 0 auto;
  padding-bottom: 1em;
}

.carousel .slide img{
  display: none;
}

.carousel ul.control-dots{
  display: none;
}

.carousel .col-md-offset-3{
  margin-left: 25% !important;
}

.carousel .thumb{
  border: none;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.carousel .thumb img{
  border-radius: 100%;
}

.carousel .thumb.selected, .carousel .thumb:hover{
  border: none;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.carousel .carousel-status{
  display: none;
}

.parallax-text{
  float: left;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.35);
}

.m-top-5{
  margin-top: 5em;
}

.slide p{
  font-size: 1.8em;
}

.products .list-group .list-group-item{
  border: none;
  border-top: 1px solid #ddd;
}

.header-backdrop{
  position: relative;
}

.contact-form input{
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  display: inline-block;
  width: 45%;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-width: 2px;
  border-color: #e8e8e8;
  border-radius: 3px;
  box-shadow: none;
  height: 46px;
  margin:10px;
  box-sizing: border-box
  
}

.contact-form button{
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  touch-action: manipulation;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 400;
  margin-bottom: 0;
  display: block;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  padding-left: 50px;
  padding-right: 50px;
  border-color: #1ab1ed;
  background-color: transparent;
  border-width: 2px;
  color: #1ab1ed;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .contact-form input{
    width: 100%;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}